# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=hyprdrive

# Make this the same as your github username/organisation
REPO_ORGANIZATION="DEZMA1000"

IMAGE_DESC="Bazzite NVIDIA Open + Hyprland"
IMAGE_KEYWORDS="bazzite,hyprland,nvidia,bootc,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.fastly.steamstatic.com/f7007eaef7643a9912863b9704bc6c7e2cdf03fa_full.jpg"
DEFAULT_TAG="stable"
BIB_IMAGE="https://avatars.fastly.steamstatic.com/f7007eaef7643a9912863b9704bc6c7e2cdf03fa_full.jpg"
